<!DOCTYPE html>
<html lang="{{ currentlocale() }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Keep calm and pass lectures">
  <meta name="author" content="Emin Mastizada">
  <title>{% block title %}{% endblock %} | ITUPass</title>
  <!-- CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/new-age.css') }}" rel="stylesheet">
  {% block extracss %}{% endblock %}
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <!-- /CSS -->
</head>
<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/#page-top">ITUPass</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        {% trans %}Menu{% endtrans %}
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#features">{% trans %}Features{% endtrans %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#news">{% trans %}News{% endtrans %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#contact">{% trans %}Contact{% endtrans %}</a>
          </li>
          {% if current_user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="{{ current_user.email | gravatar }}" class="img-avatar" alt="">
              <span class="d-md-down-none">{{ current_user }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-header text-center">
                <strong>{% trans %}Account{% endtrans %}</strong>
              </div>
              <a class="dropdown-item" href="{{ url_for('client.logout') }}"><i class="fa fa-lock"></i> {% trans %}Sign Out{% endtrans %}</a>
              {% if current_user.is_staff %}
              <div class="dropdown-header text-center">
                <strong>{% trans %}Administration{% endtrans %}</strong>
              </div>
              <a class="dropdown-item" href="{{ url_for('admin.admin_index') }}"><i class="fa fa-cogs"></i> {% trans %}Admin Center{% endtrans %}</a>
              {% endif %}
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for('client.login') }}">{% trans %}Sign In{% endtrans %}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% block header %}{% endblock %}
  {% block content %}{% endblock %}
  <footer class="footer">
    <div class="container">
      <p>&copy; 2017 Emin Mastizada.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
      <form action="{{ url_for('client.change_lang') }}" method="post" name="switchLanguageForm">
        <input name="next" type="hidden" value="{{ request.path }}" />
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <select name="lang" onChange="switchLanguageForm.submit();">
          <option value="en"{% if currentlocale() == "en" %} selected{% endif %}>English</option>
          <option value="tr"{% if currentlocale() == "tr" %} selected{% endif %}>Türkçe</option>
          <option value="ru"{% if currentlocale() == "ru" %} selected{% endif %}>Русский</option>
        </select>
      </form>
      <a href="https://www.pyninjas.com" target="_blank">
        <img src="{{ url_for('static', filename='img/wordmark.png') }}" alt="PyNinjas Team">
      </a>
    </div>
  </footer>

  <!-- JS -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/new-age.min.js') }}"></script>
  {% block extrajs %}{% endblock %}
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <!-- /JS -->
</body>
</html>
