section.features .icon-red i {
  background-image: linear-gradient(to left, #555555, #ff0000);
}
section.features .icon-black i {
  background-image: linear-gradient(to left, #121213, #000000);
}
section.features .icon-orange i {
  background-image: linear-gradient(#e66000, #e66000);
}
.icon-orange .text-muted {
  color: #ffffff !important;
}
.bg-blue {
  background: #0066ff;
  background: -webkit-linear-gradient(#0066ff, #222222);
  background: linear-gradient(#0066ff, #222222);
  color: #eeeeee;
}
section.contact ul.list-social li.social-github a {
  background-color: #333333;
}
section.contact ul.list-social li.social-github a:hover {
  color: #333333;
  background-color: #f5f5f5;
}
section.contact ul.list-social li.social-linkedin a {
  background-color: #0077b5;
}
section.contact ul.list-social li.social-linkedin a:hover {
  background-color: #00a0dc;
}
section.contact ul.list-social li.social-telegram a {
  background-color: #0088cc;
}
.error-message {
  color: #ff0000;
  font-weight: bold;
  text-decoration: underline;
}
.text-muted {
  color: #51575d !important;
}
.col-centered {
  margin: 0 auto;
}
.img-avatar {
  height: 35px;
  margin: 0 10px;
  border-radius: 50em;
  vertical-align: middle;
  border-style: none;
}
.nav-item {
  height: 55px;
}
.inline-item {
  display: inline;
}
.cursor-pointer {
  cursor: pointer;
}
