{% extends "base.html" %}
{% from "helpers/formhelpers.html" import render_field %}
{% block title %}{% trans %}Sign In{% endtrans %}{% endblock %}
{% block content %}
<section class="features text-center" id="login">
  <div class="container">
    <div class="section-heading text-center">
      <h2>{% trans %}Login{% endtrans %}</h2>
      {% if errors %}<p class="error-message">{{ errors }}</p>{% endif %}
    </div>
    <div class="row">
      <div class="col-md-5 col-centered">
        <form method=post action="{{ url_for('.login') }}?next={{ request.args.get('next', '/') }}">
          <fieldset>
            {% for field in form %}
              {{ render_field(field) }}
            {% endfor %}
            <div class="form-group">
              <button type="submit" class="btn btn-primary">{% trans %}Sign In{% endtrans %}</button> |
              <a href="{{ url_for('client.register') }}">
                <button type="button" class="btn btn-dark">{% trans %}Register{% endtrans %}</button>
              </a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-centered">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
                {% trans %}Default Accounts{% endtrans %}
            </h4>
            <h6 class="card-subtitle mb-2 text-muted">
              {% trans %}Temporary accounts to test website{% endtrans %}
            </h6>
            <p class="card-text">
              <i class="fa fa-graduation-cap" title="Student"></i> tonystark@tester.com : tester<br/>
              <i class="fa fa-user-secret" title="Teacher"></i> teacher@tester.com : teacher<br/>
              <i class="fa fa-cogs" title="Staff"></i> admin@tester.com : admin
            </br/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
