{% extends "base.html" %}
{% block title %}{% trans %}Lecture Registration{% endtrans %}{% endblock %}
{% block content %}
{% if departments %}
<section class="features text-center" id="lectures">
  <div class="container">
    <div class="section-heading text-center">
      <h2>{% trans %}Departments{% endtrans %}</h2>
      <p>{% trans %}Choose department to list its lectures{% endtrans %}</p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <input type="text" id="lectureFilterInput" onkeyup="departmentFilter()" placeholder="{% trans %}Filter Departments{% endtrans %}" title="{% trans %}Filter Departments{% endtrans %}">
      </div>
      {% for department in departments %}
      <div class="col-lg-3 my-auto department-item" id="department-{{ department.code }}">
        <div class="feature-item icon-orange">
          <a href="{{ url_for('dashboard.add_lecture') }}?department={{ department.code }}">{{ department }}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% else %}
<section class="features text-center" id="lectures">
  <div class="container">
    <div class="section-heading text-center">
      <h2>{% trans %}Lectures{% endtrans %}</h2>
      <p>{% trans %}Choose lecture to register{% endtrans %}</p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <input type="text" id="lectureFilterInput" onkeyup="lectureFilter()" placeholder="{% trans %}Filter Lectures{% endtrans %}" title="{% trans %}Filter Lectures{% endtrans %}">
      </div>
      {% for lecture in lectures %}
      <div class="col-lg-3 my-auto lecture-item">
        <div class="feature-item icon-orange">
          <form action="{{ url_for('dashboard.add_lecture') }}" method="post" id="lecture-{{ lecture.pk }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="lecture" value="{{ lecture.pk }}" />
            <a href="#" onclick="document.getElementById('lecture-{{ lecture.pk }}').submit();">{{ lecture.crn }}: {{ lecture }}</a>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
{% block extrajs %}
{% if departments %}
<script type="text/javascript">
function departmentFilter() {
  var input, filter, departments, department, i;
  input = document.getElementById("lectureFilterInput");
  filter = input.value.toUpperCase();
  departments = document.querySelectorAll("div.department-item");
  for (i = 0; i < departments.length; i++) {
    department = departments[i].getElementsByTagName("a")[0];
    if (department) {
      if (department.innerHTML.toUpperCase().indexOf(filter) > -1) {
        departments[i].style.display = "";
      } else {
        departments[i].style.display = "none";
      }
    }
  }
}
</script>
{% else %}
<script type="text/javascript">
function lectureFilter() {
  var input, filter, lectures, lecture, i;
  input = document.getElementById("lectureFilterInput");
  filter = input.value.toUpperCase();
  lectures = document.querySelectorAll("div.lecture-item");
  for (i = 0; i < lectures.length; i++) {
    lecture = lectures[i].getElementsByTagName("a")[0];
    if (lecture) {
      if (lecture.innerHTML.toUpperCase().indexOf(filter) > -1) {
        lectures[i].style.display = "";
      } else {
        lectures[i].style.display = "none";
      }
    }
  }
}
</script>
{% endif %}
{% endblock %}
